@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
}

:root {
  --line-color: #424345;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 500;
  font-size: 36px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  font-style: normal;
  line-height: 170%;
  font-size: 14px;
  font-weight: 300;
}

